html, body {
	display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
}

.board  {
    margin-right: 20px;
    min-width: 470px;
}

h1 {
    font-size: 21px;
    font-weight: 400;
    margin: 0 0 30px;
}

.subtitle {
    display: block;
    color: #8993ad;
    font-size: 16px;
    font-weight: 400;
}

.list-tasks {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.mission {
    background-color: white;
    margin-bottom: 20px;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f7f7f7;
}

.action h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    max-width: 300px;
    word-wrap: break-word;
}

.action button {
    outline: none;
    height: 10px;
    width: 10px;
    background-color: white;
    border: 0;
    padding: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.delete {
    margin-left: 20px;
    background-image: url('../img/close.png');

}

.arrow {
    background-image: url('../img/arrow_down.jpg');
    margin-left: auto;
}

.task-description {
    padding: 10px 20px 65px;
    margin: 0;
    overflow: hidden;
    max-width: 430px;
    font-size: 14px;
    color: #8993ad;
}

.note {
    min-width: 470px;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    background-color: white;
}

.field label {
    color: #8993ad;
    font-size: 18px;
    margin-bottom: 10px;
}


.field label span {
    font-size: 14px;
}

.title {
    outline: none;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
}

.field textarea {
    outline: none;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    resize: none;
}

.add-task {
    background-color: #2174fd;
    color: white;
    border: 1px solid #2174fd;
    padding: 20px 60px;
    width: 224px;
    cursor: pointer;
    font-size: 16px;
}