html {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
