header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: transparent;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.header-color {
    background-color: rgb(10 10 10 / 0.45);
    z-index: 10;
}

.logo {
    color: #fd5a54;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

.logo span {
    color: #fff;
}

.navbar-toggler {
    display: none;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
    cursor: pointer;
}

.navbar-toggler-icon {
    display: block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-image: url('../img/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.menu .menu-lists .lists-item{
    display: flex;
    position: relative;
}

.menu .menu-lists .lists-item a.active::after {
    opacity: 1;
    transform: translateY(-3px);
}

.menu .lists-item a {
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    padding: 15px 0;
    margin: 0 23px;
}

.menu .lists-item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #fd5a54;
    height: 2px;
    opacity: 0;
    transform: translateY(2px);
    transition: .3s ease all;
}

.menu .lists-item a:hover:after {
    opacity: 1;
    transform: translateY(-3px);
}

.btn {
    padding: 10px 15px;
    background-color: transparent; /* Прозрачный фон */
    cursor: pointer;
    border: 1px solid #fd5a54;
    color: #fd5a54;
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn:hover {
    background-color: #fd5a54;
    border: 1px solid transparent;
    color: #fff;
}