.footer {
    padding: 50px 0;
    color: #fff;
    background-color: #0a0a0a;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branding {
    margin: 20px 0 10px 0;
    opacity: 1;
}

.branding:hover {
    opacity: 0.9;
}

.footer-menu-primary {
    border-bottom: 1px solid rgba(255,255,255,.25);
    width: 100%;
}

.footer-menu-primary ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-menu {
    padding: 15px 0;
}

.footer-menu  ul li {
    margin: 0 12px;
}

.footer-menu ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 12px 0;
}

.footer-menu ul li a:after {
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    opacity: 0;
    transform: translateY(2px);
    transition: .3s ease all;
}

.footer-menu ul li a:hover:after {
    opacity: 1;
    transform: translateY(-3px);
}

.footer-menu-secondary {
    padding: 15px 0;
}

.social-links {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.social-links li {
    display: flex;
    margin: 0 4px;
}

.social-links a {
    padding: 16px;
    line-height: 0;
    border-radius: 100%;
    border: 1px solid rgba(255,255,255,.25);
    transition: .3s border;
}

.social-links a:hover {
    border-color: #fff;
}

.social-links a:hover img {
    transform: scale(1.5);
}

.social-links a img {
    height: 16px;
    width: 16px;
    transform: scale(1);
}

.legal-menu {
    margin: 50px 0 0 0;
}

.legal-menu ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.legal-menu ul li a {
    color: rgba(255,255,255,.25);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 5px;
}

.legal-menu ul li a:hover {
    color: #fff;
}

.copyright {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255,255,255,.25);
}