* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section {
	height: 100vh;
	background-color: gray;
}

.section:nth-child(2) {
	background-color: white;
}

.section:nth-child(3) {
	background-color: black;
}

.section:nth-child(4) {
	background-color: yellow;
}

.section:nth-child(5) {
	background-color: green;
}

button {
    padding: 5px;
    font-size: 16px;
}

.scroll-off {
	position: fixed;
	left: 30px;
    top: 30px;
    cursor: pointer;
}

.scroll-on {
	position: fixed;
	left: 30px;
	top: 80px;
    pointer-events: none;
    cursor: default;
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}