body {
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    background-color: #16161a;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    background-image: url('../img/mountains-dark-simple-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    justify-content: space-around;
}

.header h1 {
    color: #fd5a54;
}

.header h1 span {
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.menu li.active, .menu li:hover {
    color: #fd5a54;
}

.menu li {
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

.btn {
    padding: 10px 15px;
    background: transparent; /* Прозрачный фон */
    cursor: pointer;
    border: 1px solid #fd5a54;
    color: #fd5a54;
    border-radius: 5px;
}

.btn:hover {
    background: #fd5a54;
    border: 1px solid transparent;
    color: #fff;
}

.person {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.person img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(0 0 0 / 0.1);
}

.person h2 {
    color: #fd5a54;
    font-size: 48px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.person span {
    color: #fff;
    letter-spacing: 1px;
}