.simple-spinner {
    height: 50px;
    width: 50px;
    border: 5px solid rgba(150, 150, 150, 0.2);
    border-radius: 50%;
    border-top-color: rgba(150, 150, 150);

    
    /*
        animation
        Параметры
        1 название анимации
        2 длительность анимации
        3 через сколько после загрузки стр начинать анимацию
        4 бесконечность
        5 как наша аниация работает (linear, ease... и тд.)
    */
    animation: rotate 5s 0s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        border-top-color: rgb(189, 33, 33);
    }
    100% {
        transform: rotate(360deg);
    }
}