h1, h2, h3, h4, h5, h6 {
    color: #fd5a54;
}

/*
    Скроллбар
*/

::-webkit-scrollbar-button {
    background-image: url(''); 
    background-repeat: no-repeat;
    width: 0px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background-color: #fd5a54;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f77472;
}

::-webkit-scrollbar-corner {
    background-repeat: no-repeat;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/*
    contact.html
*/

.contact {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

address {
    margin-top: 75px;
}

.sub-title {
    display: block;
    color: #899093;
    font-size: 18px;
}

.emails {
    padding: 0;
}

.emails li {
    margin: 0 0 16px;
}

.email {
    background: url(../img/social/paper-plane.svg) no-repeat;
    background-position: left;
    background-size: 18px;
    padding-left: 25px;
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}

.post-image {
    width: 450px;
    height: 650px;
}