body {
    font-family: "Calibre Web",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
    background-color: #16161a;
}

h1, h2, h3 {
    font-family: "Canela Web",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}

h4 {
    font-size: 22px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 8px;
    padding: 0;
}

p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0 0 16px;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.fixed-container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}